
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body{
  line-height:none;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}
.dois-font{
  font-family: 'Dosis', sans-serif;
}
.color600{
  color: #1e88e5;
}
.title18 {
  font-size: 18px;
}
.font-bold{
  font-weight: 700;
}
.MuiFormLabel-root.Mui-focused{
  color: #1e88e5 !important;
}
.MuiBadge-colorPrimary{
  background-color: #1976d2 !important;
}
.table-custom{
  display: table;
  margin: 0;
  width: 100%;
}
.table-custom div{
  display: table-cell;
}
.container{
  max-width: 1200px;
  position: relative;
  width: 100%;
}
a:hover{
  text-decoration: none !important;
}
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
.smaller{
  height: 10px;
}
.nav-item-active{
  display: inline-flex;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: #1e88e5;
}
.nav-item-active button{
  color: #fff !important;
}
.unshow{
  display: none;
}
.show{
  position: relative;
}
.show a{
  float: none;
  display: block;
  text-align: left;
}
.collapsed {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 0;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.collapsed a{
  text-decoration: none;
}
.is-expanded {
  overflow: hidden;
  max-height: 500px; /* approximate max height */
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* ----------------home page-------------- */
.slick-prev:before, .slick-next:before{
  color: black !important;
}
*:focus {
  outline: none !important;
}
.active-tab{
  color: white !important;
  background-color: #1e88e5 !important;
}
.active-tab:hover{
  color: white !important;
  background-color: #1e88e5 !important;
}
.product-price{
  font-family: dosis;
  font-weight: 700;
  font-size: 18px;
  color: #1e88e5;
}
.total-price{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.1);
}
.animated{
  animation-duration: 0.5s !important;
}

/* [data-social-icons] {
  list-style-type: none;
}
[data-social-icons] li {
  line-height: 80px;
  width: 80px;
  font-size: 60px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 80;
  color: white;
  float: left;
  margin-right: 5px;
}
[data-social-icons] li:last-child {
  margin-right: 0;
}
[data-social-icons]:hover [data-social-icon] {
  background-color: gray;
  opacity: 0.7;
}
[data-social-icons] [data-social-icon]:hover {
  cursor: pointer;
  animation-name: hover-anim;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
}
[data-social-icons] [data-social-icon~=facebook],
[data-social-icons] [data-social-icon~=facebook]:hover {
  background-color: #43609c;
  opacity: 1;
}
[data-social-icons] [data-social-icon~=facebook]:before,
[data-social-icons] [data-social-icon~=facebook]:hover:before {
  content: "F";
}
[data-social-icons] [data-social-icon~=twitter],
[data-social-icons] [data-social-icon~=twitter]:hover {
  background-color: #53a7e7;
  opacity: 1;
}
[data-social-icons] [data-social-icon~=twitter]:before,
[data-social-icons] [data-social-icon~=twitter]:hover:before {
  content: "T";
}
[data-social-icons] [data-social-icon~=gplus],
[data-social-icons] [data-social-icon~=gplus]:hover {
  background-color: #d95232;
  opacity: 1;
}
[data-social-icons] [data-social-icon~=gplus]:before,
[data-social-icons] [data-social-icon~=gplus]:hover:before {
  content: "G";
}
[data-social-icons] [data-social-icon~=linkedin],
[data-social-icons] [data-social-icon~=linkedin]:hover {
  background-color: #0274b3;
  opacity: 1;
}
[data-social-icons] [data-social-icon~=linkedin]:before,
[data-social-icons] [data-social-icon~=linkedin]:hover:before {
  content: "L";
}
[data-social-icons] [data-social-icon~=youtube],
[data-social-icons] [data-social-icon~=youtube]:hover {
  background-color: #ec282a;
  opacity: 1;
}
[data-social-icons] [data-social-icon~=youtube]:before,
[data-social-icons] [data-social-icon~=youtube]:hover:before {
  content: "Y";
} */

