$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;
$blue-800: #1565c0;
$font: 'Dosis', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
body{
  line-height:none;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}
.dois-font{
  font-family: $font;
}
.color600{
  color: $blue-600;
}
.title18 {
  font-size: 18px;
}
.MuiFormLabel-root.Mui-focused{
  color: $blue-600 !important;
}
.MuiBadge-colorPrimary{
  background-color: $blue-700 !important;
}
.table-custom{
  display: table;
  margin: 0;
  width: 100%;
  div{
    display: table-cell;
  }
}
.container{
  max-width: 1200px;
  position: relative;
  width: 100%;
}
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
// ---------------Walking-Loader-----------------
@mixin animation($str) {
	-webkit-animation: $str;
  -moz-animation: $str;
  animation: $str;
}
$size: 1em;
$duration: 2000ms;
$type: linear;
.spinning {
	width: $size * 6;
	margin: $size * 2 auto;
	text-align: center;
	span {
		display: block;
		margin: $size / 2 0 0 0;
		color: $blue-800;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		@include animation(pulse $duration $type infinite);
	}
}
@-webkit-keyframes pulse {
	0%, 100% { opacity: 1; }
	50% { opacity: 0.25; }
}
@keyframes pulse {
	0%, 100% { opacity: 1; }
	50% { opacity: 0.25; }
}
.ajax-loader{
	position: absolute;
	left: 70%;
	transform-origin: 50% 50%;
	transform: rotate(90deg) translate(-50%, 0%);
	font-size: 50px;
	width: 1em;
	height: 3em;
	color: $blue-800;
	.paw{
		width: 1em;
		height: 1em;
		animation: 2050ms pawAnimation ease-in-out infinite;
		opacity: 0;
		svg{
			width: 100%;
			height: 100%;
		}
		.icon{
			fill: currentColor;
		}
		&:nth-child(odd){
			transform: rotate(-10deg);
		}
		&:nth-child(even){
			transform: rotate(10deg) translate(125%, 0);
		}
    @for $i from 1 through 12{
      &:nth-child(#{$i}){
        animation-delay: #{ (($i * -1)+6)*0.25 }s;
      }
    }
    .no-cssanimations &{
      opacity: 1;
    }
	}
}
@keyframes pawAnimation {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
/* -----------Nav bar---------- ----------*/
.top-nav{
  li{
    float: left;
    display: block;
    text-align: center;
    padding: 8px 4px;
    text-decoration: none;
    a:hover{
      text-decoration: none;
    }
    button{
      font-weight: 550;
    }
    img{
      height: 18px;
      width: 18px;
      margin-right: 5px;
    }
  }
  .nav-content-right, .nav-content-left{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .nav-content-right{
    margin-left: auto;
  }
}
.item-cart{
  display: table;
  border-bottom: 1px solid #e5e5e5;
  div{
    vertical-align: middle;
    display: table-cell;
  }
  .product-info{
    padding: 0 15px;
    .product-title{
      margin: 0 0 7px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.smaller{
  height: 10px;
}
.nav-item-active{
  display: inline-flex;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: $blue-600;
  button{
    color: #fff !important;
  }
}

.unshow{
  display: none;
}
.show{
  position: relative;
  a{
    float: none;
    display: block;
    text-align: left;
  }
}
.collapsed {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 0;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  a{
    text-decoration: none;
  }
}
.is-expanded {
  overflow: hidden;
  max-height: 500px; /* approximate max height */
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
// @media screen and (max-width: 20000px){
//   .bottom-nav{
//     display: none;
//   }
// }


@media screen and (max-width: 800px) {
  
}
/* ----------------home page-------------- */
.slick-prev:before, .slick-next:before{
  color: black !important;
}
*:focus {
  outline: none !important;
}
/* ----------------Login Register Drawer-------------- */
.card-login, .card-register{
  .MuiButton-root{
    color: white;
    background-color: $blue-600
  }
  .MuiButton-root:hover{
    background-color: $blue-800
  }
}

/* ----------------Carousel-------------- */
.carousel{
  .carousel-fade .carousel-item {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity .75s ease-in-out;
  }
  .carousel-fade .carousel-item.active {
    opacity: 1;
  }
  .carousel-caption {
    bottom: 30%;
    h1{
      font-size: 5rem;
    }
    h3{
      font-size: 2.5rem;    
    }
    h3, h1, p{
      text-shadow: 1px 1px 2px #333;
    }
    .MuiButton-text{
      padding: 6px 18px;
      text-shadow: 1px 1px 2px #333;
    }
    .MuiButton-root{
      color: white;
      background-color: $blue-700
    }
    .MuiButton-root:hover{
      background-color: $blue-800
    }
  }
  img{
    width: 100%;
    height: 80vh;
  }
  .animated{
    animation-delay: 0.2s; animation-duration: 1s
  }
}
@media screen and (max-width: 800px) {
  .carousel{
    img{
      height: 40vh;
    }
    .carousel-caption {
      display: block !important;
      h1{
        font-size: 3rem;
      }
      h3{
        font-size: 1.5rem;
      }
    }
  }
}

/* ----------------products-------------- */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .search-bar { 
    grid-area: 1 / 1 / 6 / 2; 
  }
  .products-section { 
    grid-area: 1 / 2 / 6 / 6; 
    .search-top-bar{
      display: flex;
      flex-wrap: wrap;
      h2{
        font-family: $font;
      }
    }
    .product-list{
      display: flex;
      flex-wrap: wrap;
      .product-thumb{
        overflow: hidden;
        border: 1px solid #e5e5e5;
        position: relative;
        .product-img{
          display: block;
          overflow: hidden;
          transition: all 0.3s ease-out 0s;
          -webkit-transition: all 0.3s ease-out 0s;
          width: 100%;
          max-width: 100%;
          height: auto;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
        }
        .product-extra-link{
          position: absolute;
          height: 100px;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 0;
          right: 0;
          z-index: 12;
          transition: all 0.3s ease-out 0s;
          -webkit-transition: all 0.3s ease-out 0s;
          text-align: center;
          ul{
            margin: 0 0 1em;
            padding: 0;
            list-style: none outside;
            clear: both;
            display: flex;
            justify-content: space-evenly;
            li{
              display: inline-block;
              vertical-align: top;
              list-style: none outside;
              .MuiTooltip-arrow{
                color: #03a9f4;
              }
              button{
                color:$blue-600;
                border: 2px solid $blue-600;
                background-color: white;
                padding: 7px;
                svg{
                  font-size: 18px;
                }
              }
              button:hover{
                color:white;
                background-color: $blue-600;
              }
            }
          }
          button{
            transition: all 0.3s ease-out 0s;
            transform: scale(0);
            -webkit-transform: scale(0);
          }
          .btn-addtocart{
            border-radius: 5px;
            background-color: $blue-600;
            span{
              color: white;
              font-weight: 550;
            }
          }
          .btn-addtocart:hover{
            background-color: $blue-800;
          }
        }
      }
      .product-thumb:hover{
        .product-extra-link{
          button{
            transform: scale(1);
            -webkit-transform: scale(1);
          }
        }
        .product-img{
          filter: opacity(50%);
          transform: scale(1.2);
        }
      }
      .product-info{
        .product-name{
          font-family: 'Dosis', sans-serif;
          color: $blue-600;
          text-transform: uppercase;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 700;
          font-size: 18px;
        }
        .product-rating{
          width: 200;
          display: flex;
          align-items: flex-start;
          label{
            display: block;
          }
        }
        .product-desc{
          margin-bottom: 0.25rem;
        }
      }
    }
    .MuiPagination-root{
      .Mui-selected{
        color: $blue-700
      }
    }
  }
}
.product-price{
  font-family: dosis;
  font-weight: 700;
  font-size: 18px;
  color: $blue-600;
}
.product-info{
  .product-img-gallery{
    .image-gallery{
      .image-gallery-icon:hover{
        color:$blue-500
      }
      .image-gallery-svg{
        height: 60px;
        width: 30px;
      }
      .image-gallery-thumbnails{
        button{
          width: 70px;
        }
        .image-gallery-thumbnail.active, 
        .image-gallery-thumbnail:hover, 
        .image-gallery-thumbnail:focus{
          border: 1px solid $blue-500
        }
      }
    }
  }
  .product-detail{
    color: #444;
    &-title{
      margin-bottom: 20px;
      margin: 0 0 7px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
    }
    &-price{
      font-size: 20px;
      font-weight: 720;
      color: $blue-600;
      margin-bottom: 13px;
    }
    &-desc{
      margin-bottom: 25px;
      line-height: 24px;
    }
  }
}
.search-bar-paper{
  padding: 20px;
  span{
    text-transform: capitalize;
  }
  .search-bar-label{
    position: relative;
    display: flex;
    align-items: center;
    .color-span{
      color:#555
    }
    .chip-nums{
      position: absolute;
      right: 0;
    }
  }
  .MuiCheckbox-root{
    padding: 5px;
  }
  h5{
    border-bottom: 1px solid #e5e5e5;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Dosis', sans-serif;
  }
  .Mui-checked{
    color: $blue-600 !important
  }
  .slide-price{
    .MuiSlider-root{
      color: $blue-700
    }
  }
  label{
    display: block;
    margin-left: -11px;
  }
}
// -------------product------------
.search-bar-paper{
  .product-thumb{
    width: 90px;
    border: 1px solid #e5e5e5;
  }
  .product-info{
    padding: 0px 0 0 20px;
    vertical-align: middle;
    h3{
      overflow: inherit;
      text-overflow: inherit;
      white-space: normal;
      font-weight: normal;
      margin: 0 0 7px;
      font-family: 'Dosis', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
    }
    .product-price{
      font-weight: 700;
      font-size: 18px;
      font-family: dosis;
      color: $blue-600;
    }
    .product-rating{
      width: 200;
      display: flex;
      align-items: flex-start;
      label{
        display: block;
      }
    }
  }
}
.detail-tab{
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  &-title{
    min-width: 200px;
    .list-tag-detail{
      font-weight: 700;
      a{
        display: block;
        position: relative;
        padding: 12px 25px;
        border-bottom: 1px solid #e5e5e5;
        text-decoration: none;
        outline: none;
        color: #555;
      }
      a:hover{
        color: $blue-500;
        transition: 0.5s;
      }
      .a-active{
        border-right: none;
        border-left: 2px solid $blue-600;
      }
    }
  }
  &-content{
    padding: 30px;
    width: 100%;
    border: 1px solid #e5e5e5;
    .review-product{
      label{
        display: block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700
      }
    }
    .detail-tab-desc{
      p{
        color: #555;
      }
      ul{
        color: #999;
      }
      line-height: 24px;
      font-size: 14px;
    }
    img{
      height: auto;
      max-width: 100%;
      vertical-align: top;
    }
    .review-product{
      .product-rating{
        width: 200;
        display: flex;
        align-items: flex-start;
      }
      button{
        color: white;
        background-color: $blue-500;
      }
      .user-review{
        .avatar{
          float: left;
        }
        .comment-text{
          margin: 0 0 0 50px;
          border: 1px solid #e4e1e3;
          border-radius: 4px;
          padding: 1em 1em 0;
        }
      }
    }
  }
}
@media (max-width: 900px){
  .detail-tab {
    display: inline-block;
    width: 100%;
    .detail-tab-title{
      .a-active{
        border-left: 1px solid #e5e5e5;
        border-bottom: 2px solid $blue-600;
        border-right: 1px solid #e5e5e5;
      }
      ul{
        border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        li{
          display: inline-block;
          border-left: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
          a{
            border-bottom: none;
          }
        }
      }
    }
    
  }
}

// --------------Cart----------
.total-price{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.1);
}
.check-cart{
  background-color: $blue-600;
  a{
    text-decoration: none;
    width: 100%;
  }
  button{
    width: 100%;
    color: white;
  }
}
.pay-section{
  .table-cart{
    padding: 0;
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    text-transform: capitalize;
    color: #555;
    a{
      text-decoration: none;
      color: #555;
    }
    a:hover{
      color: $blue-600;
      transition: 0.4s;
    }
    .product-remove{
      max-width: 30px;
    }
    th{
      vertical-align: middle;
      font-weight: 700;
      padding: 9px 12px;
      line-height: 1.5em;
    }
    td{
      padding: 9px 12px;
      vertical-align: middle;
      line-height: 1.5em;
    }
    .product-thumbnail{
      max-width: 54px;
      text-align: center;
      min-width: 30px;
      img{
        width: 70px;
      }
    }
    .coupon{
      display: flex;
      align-items: center;
      button{
        color: white;
        background-color: #333;
        vertical-align: baseline
      }
      button:hover{
        background-color: $blue-700;
      }
    }
    .detail-qty{
      border-radius: 4px;
      height: 40px;
      width: 80px;
      position: relative;
      border: 1px solid #e5e5e5;
      .qty-down{
        bottom: 0
      }
      .qty-up{
        top: 0
      }
      button{
        position: absolute;
        width: 30px;
        height: 20px;
        display: block;
        text-align: center;
        line-height: 20px;
        right: 0;
        border-top:none;
        border-bottom:none;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        background-color: white;
      }
      .cart-item-quantity{
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(-40%, -50%);
      }
    }
  }
  table, th, td{
    border: 1px solid #e5e5e5;
  }
  .cart-collaterals{
    width: 100%;
    .cart_totals{
      width: 50%;
    }
    button{
      color: white;
      background-color: #333;
      vertical-align: baseline
    }
    button:hover{
      background-color: $blue-700;
    }
  }
}

// -----------footer-------------
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.dogs-footer{
  position: relative;
  img:hover{
    animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}
.dogs-footer::before{
  position: absolute;
  top: 78.5%;
  left: 0;
  right: 0;
  bottom: 31px;
  height: 3px;
  content: "";
  display: block;
  background-color: $blue-600
}
