$blue-700: #1976d2;
$blue-800: #1565c0;
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
body{
  line-height:none;
}
/* -----------Nav bar---------- ----------*/
.top-nav{
  li{
    float: left;
    display: block;
    text-align: center;
    padding: 8px 4px;
    text-decoration: none;
    a:hover{
      text-decoration: none;
    }
    button{
      font-weight: 550;
    }
    img{
      height: 18px;
      width: 18px;
      margin-right: 5px;
    }
  }
  .nav-content-right, .nav-content-left{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .nav-content-left{
    margin-left: auto;
  }
}

.smaller{
  height: 10px;
}
.nav-item-active{
  display: inline-flex;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: $blue-700;
  button{
    color: #fff !important;
  }
}
.toggle-icon{
  display: none;
}
@media only screen and (max-width: 20000px){
  .bottom-nav{
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .clone-topnav{
    height: 0px;
  }
  .toggle-icon{
    display: none;
  }
  .bottom-nav{
    display: block;
  }
  .top-nav{
    display: none;
  }
  #back-to-top-anchor{
    display: none;
  }
}
/* ----------------home page-------------- */
.slick-prev:before, .slick-next:before{
  color: black !important;
}
*:focus {
  outline: none !important;
}
/* ----------------Login Register Drawer-------------- */
.card-login, .card-register{
  .MuiButton-root{
    color: white;
    background-color: $blue-700
  }
  .MuiButton-root:hover{
    background-color: $blue-800
  }
}

/* ----------------Carousel-------------- */
.carousel{
  .carousel-fade .carousel-item {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity .75s ease-in-out;
  }
  .carousel-fade .carousel-item.active {
    opacity: 1;
  }
  .carousel-caption {
    bottom: 30%;
    h1{
      font-size: 5rem;
    }
    h3{
      font-size: 2.5rem;
    }
    .MuiButton-text{
      padding: 6px 18px;
    }
    .MuiButton-root{
      color: white;
      background-color: $blue-700
    }
    .MuiButton-root:hover{
      background-color: $blue-800
    }
  }
  img{
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .animated{
    animation-delay: 0.4s; animation-duration: 1s
  }
}
@media screen and (max-width: 800px) {
  .carousel{
    img{
      height: 40vh;
    }
    .carousel-caption {
      display: block !important;
      h1{
        font-size: 3rem;
      }
      h3{
        font-size: 1.5rem;
      }
    }
  }
}
/* ----------------Layout-Promo-Box-------------- */
.promobox-layout{
  img{
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .col-sm-6, .col-md-6, .col-sm-12{
    padding-left: 10px;
    padding-right: 10px;
  }
  a{
    position: relative;
    .tt-background{
      position: absolute;
      top: 50%;
      padding: 0 50px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      background: rgba(255, 255, 255, 0.9);
      border-radius: 5px;
      color: black;
      line-height: 50px;
    }
  }
  a:hover{
    .tt-background{
      background: rgba(25, 118, 210, 0.9);
      border-radius: 5px;
      color: white;
      transition: 0.2s linear;
    }
  }
}
/* ----------------products-------------- */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .search-bar { 
    grid-area: 1 / 1 / 6 / 2; 
    .MuiRadio-root{
      color: $blue-700
    }
    .MuiExpansionPanelSummary-root{
      border-bottom: 1px solid rgba(0, 0, 0, .125);
      margin-bottom: -1px;
      background-color: rgba(0, 0, 0, .03)
    }
  }

  .products-section { 
    grid-area: 1 / 2 / 6 / 6; 
    .search-top-bar{
      display: flex;
      flex-wrap: wrap;
    }
    .product-list{
      display: flex;
      flex-wrap: wrap;
      .product-thumb{
        overflow: hidden;
        border: 1px solid #e5e5e5;
        position: relative;
        .product-img{
          display: block;
          overflow: hidden;
          transition: all 0.3s ease-out 0s;
          -webkit-transition: all 0.3s ease-out 0s;
          width: 100%;
          max-width: 100%;
          height: auto;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
        }
        .product-extra-link{
          position: absolute;
          height: 100px;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 0;
          right: 0;
          z-index: 12;
          transition: all 0.3s ease-out 0s;
          -webkit-transition: all 0.3s ease-out 0s;
          text-align: center;
          ul{
            margin: 0 0 1em;
            padding: 0;
            list-style: none outside;
            clear: both;
            display: flex;
            justify-content: space-evenly;
            li{
              display: inline-block;
              vertical-align: top;
              list-style: none outside;
              button{
                color:$blue-700;
                border: 2px solid $blue-700;
                background-color: white;
                padding: 7px;
                svg{
                  font-size: 18px;
                }
              }
              button:hover{
                color:white;
                background-color: $blue-700;
              }
            }
          }
          button{
            transition: all 0.3s ease-out 0s;
            transform: scale(0);
            -webkit-transform: scale(0);
          }
          .btn-addtocart{
            border-radius: 10px;
            background-color: $blue-700;
            span{
              color: white;
            }
          }
          .btn-addtocart:hover{
            background-color: $blue-800;
          }
        }
      }
      .product-thumb:hover{
        .product-extra-link{
          button{
            transform: scale(1);
            -webkit-transform: scale(1);
          }
        }
        .product-img{
          filter: opacity(50%);
          transform: scale(1.2);
        }
      }
      
      .product-info{
        .product-name{
          font-family: 'Dosis', sans-serif;
          color: $blue-700;
          text-transform: uppercase;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 700;
          font-size: 18px;
        }
        .product-rating{
          width: 200;
          display: flex;
          align-items: flex-start;
          label{
            display: block;
          }
        }
        .product-desc{
          margin-bottom: 0.25rem;
        }
        .product-price{
          font-family: dosis;
          font-weight: 700;
          font-size: 18px;
          color: $blue-700;
        }
      }
    }
  }
}